/* your styles go here */

body {
    font-family: "Courier New";
}

.use-cover-background {
  background-size: cover;
  background-position: center;
}

.square {
  width: 100%;
  aspect-ratio: 1/1;
}