<div class="col-xs-12 col-md-8 col-lg-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
      <div class="row">
        {{ range .Data.Pages }}
            <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
              {{ $permalink := .Permalink }}
              {{ with .Resources.ByType "image" }}
                {{ range . }}
                {{ $image := .Resize "600x webp" }}
                <a href="{{ $permalink }}">
                  <div class="use-cover-background square" style="background-image: url({{ $image.RelPermalink }})">
                  </div>
                </a>
                {{ end }}
              {{ end }}
            </div>
        {{ end }}
      </div>
</div>
