{{ define "main" }}
<div class="col-xs-12 col-md-8 col-lg-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-xl-8">
      <div class="content-column-content">
        {{ with .Resources.ByType "image" }}
          {{ range . }}
          {{ $image := .Resize "800x webp" }}
          <figure>
            <img src="{{ $image.RelPermalink }}" class="img-fluid">
          </figure>
          {{ end }}
        {{ end }}
        {{ .Title }}
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
